@import '../../app.scss';

.landing {
	height: calc(100vh - 100px);
	width: 100%;
  position: relative;
	.wrapper {
		max-width: 1366px;
		height: 100%;
		margin: auto;
		padding: 0 20px;
    padding-left: 100px;
		.intro {
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: left;
			justify-content: center;
			gap: 20px;
			width: 70%;
			word-break: keep-all;
			@include mobile {
				height: 100%;
				width: 100%;
				gap: 20px;
				align-items: flex-start;
				text-align: flex
			}
			.name {
				margin-top: -4em;
				font-size: 4em;
				@include mobile {
					font-size: 2.5em;
				}
			}
			.occupation {
				font-size: 2em;
				@include mobile {
					font-size: 1.5em;
				}
			}

			.buttons {
				display: flex;
				gap: 20px;
				button {
					border: 1px solid white;
					border-radius: 0.5em;
					padding: 9px;
					cursor: pointer;
				}
			}
			img {
				height: 100px;
				object-fit: none;
				align-self: flex-start;
			}
		}
	}
	.container {
		position: absolute;
    left: 60%;
		right: 0;
    bottom: 0;
		@include mobile {
      top: unset;
		}
		.profile {
      background-color: transparent;
			pointer-events: none;
			width: 100%;
			object-fit: cover;
      @include mobile {
        object-fit: contain;
        height: 100%;
      }
		}
	}

	.slideText {
		position: absolute;
		bottom: -7rem;
		font-size: 50vh;
		font-weight: bold;
		white-space: nowrap;
		color: #ffffff07;
		z-index: -1;
    @include mobile{
      display: none;
    }
	}
}
