@import '../../app.scss';
.career {
	position: relative;
	.progress {
		position: sticky;
		top: 0;
		left: 0;
		padding-top: 50px;
		text-align: center;
		color: orange;
		font-size: 2rem;
		@include mobile {
			padding-top: calc(100vh - 100px);
			font-size: 1rem;
      pointer-events: none;
		}

		.progressBar {
			height: 10px;
			background-color: #fff;
			@include mobile {
				height: 5px;
        pointer-events: none;
			}
		}
	}
	.container {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 50px;
		@include mobile {
		}
		.wrapper {
			min-width: 1366px;
      height: 100%;
			margin: auto;
      margin-top: 90px;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 50px;
			@include mobile {
				flex-direction: column;
			}
			.imgContainer {
				flex: 1;
				height: 60%;
        padding: 10px;
        margin: 0 0 0 200px;
				@include mobile {
          margin: unset;
					width: 30%;
					max-height: 300px;
				}
        .swiperContainer{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .swiper-button-next::after{
            color: #888;
          }
          .swiper-button-prev::after{
            color: #888;
          }
          @include mobile {
            .swiper-wrapper{
              width: 100%;
            }
          }
        }
        video{
          width: 100%;
          object-fit: cover;
        }
				img {
					width: 100%;
					height: 100%;
          aspect-ratio: 3/2;
					object-fit: contain;
					@include mobile {
						object-fit: contain;
					}
				}
			}
			.desc {
				flex: 1;
				display: flex;
				flex-direction: column;
				gap: 20px;
        white-space: pre-wrap;
        // margin-top: -200px;
				@include mobile {
					gap: 5px;
					transform: none !important;
					padding: 10px;
					align-items: center;
					justify-content: center;
				}
				h2 {
					font-size: 3rem;
					@include mobile {
						font-size: 1.5rem;
					}
				}
				p {
					color: #888;
          white-space: pre-wrap;
					@include mobile {
						font-size: 1rem;
            width: 100%;
					}
				}
				button {
					text-align: center;
					background-color: orange;
					border: none;
					border-radius: 10px;
					width: 200px;
					padding: 10px;
					cursor: pointer;
					color: black;
					font-weight: normal;
          
				}
				button:hover {
					color: white;
					font-weight: 800;
				}
			}
		}
	}
}
